 ---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: <token>  
    apiServerEndpoint: <control-plane-host>:<control-plane-port> # Change me
    caCertHashes:
      - <discovery-token-ca-cert-hash> # Change me
nodeRegistration:
  name: <worker-instance-hostname> # Change me
  kubeletExtraArgs:
    cloud-provider: external